/* float로 레이아웃 구성하기 */
body, header, div, footer, h1, p, ul, li{
    margin: 0; padding: 0;
}
/* header와 footer의 크기를 설정하지 않았을때 적용 */
.clear::after{content: ""; display: block; clear: both;}
li{list-style: none;}
body{font: 14px 'Malgun Gothic', '맑은고딕';}
a{text-decoration: none; color: #444;}
a:hover{text-decoration: underline;}
#wrap{background: #cfc;}
/* 전체 메뉴 */
header{background: crimson; height: 60px;}
header h1{float: left; margin-right: 40px;}
header .gnb{float: left; padding-top: 10px;}
header .gnb li{float: left;}
header .gnb li a{display: block; width: 50px;
    text-align: center; font-size: 16px;}
/* 1vh = screen 해상도의 1% */
/* calc(100vh - (header + footer)) */
#container{width: 800px; min-height: calc(100vh - 100px);}


    /* 사이드 메뉴 */
.lnb{float: left; width: 20%;
    background: lightgreen;}
.lnb li a{display: block; padding: 5px 20px;}
.content_area{float: right; width: 80%;}
footer{background: lightgray; padding: 10px;}
footer p{text-align: center; height: 40px; line-height: 40px;}


