*{margin: 0; padding: 0;}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    width: 978px;
    height: 100px;
    border: 1px solid #333;
    padding: 10px;
}
section{
    width: 620px;
    height: 600px;
    border: 1px solid #333;
    float: left;
}
aside{
    width: 320px;
    height: 600px;
    border: 1px solid #333;
    background: rgb(230, 230, 236);
    float: right;
}
footer{
    width: 998px;
    height: 600px;
    border: 1px solid #333;
    clear: left;
}