/* 구글웹폰트는 맨 위에 위치해야 함 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{margin: 0; padding: 0;}
#container{width: 1000px; margin: 0 auto;}
header{height: 80px; background: #006699;}
header #logo{width: 200px; float: left;}
header h1{color: white; padding: 15px 20px; color: rgb(238, 223, 20); font-family: 'Nanum Pen Script', cursive; font-size: 40px;}
header nav{width: 700px; float: right;}
nav ul{list-style: none; text-align: right; margin-right: 100px;}
nav ul li{display: inline; line-height: 80px; margin: 10px;}
nav ul li a{color: #fff; text-decoration: none;}
nav ul li a:hover{color: rgb(238, 223, 20);}
section h1{padding: 20px;}