#content{
    width: 500px;
    margin: 50px auto;
}
ul{list-style: none;}
ul li{margin: 20px;}
/* ul li label{width: 80px; float: left;} */
.reg{width: 80px; float: left;}
ul li input{width: 150px; height: 25px;}
#major{width: 160px; height: 30px;}
button{margin-left: 60px;}
