*{margin: 0; padding: 0;}
body{background: url(../images/bg_grid.png);}
p{
    width: 600px; height: 100px; padding: 30px;
    margin-bottom: 10px;
    background: rgba(255, 255, 0, 0.5);
    border: 10px solid rgba(0, 0, 0, 0.5);
}
.sizing{box-sizing: border-box;}
.sizing_list{width: 500px; margin-top: 20px; list-style: none;}
.sizing_list li{
    float: left; width: 25%; padding: 10px;
    background: rgba(0, 0, 100, 0.3);
    box-sizing: border-box;
    text-align: center;
}
.sizing_list li:nth-child(even){background: rgba(0, 0, 100, 0.15);}
.sizing_list li a{text-decoration: none; color: #000;}
.sizing_list li a:hover{text-decoration: underline;}