*{margin: 0; padding: 0; box-sizing: border-box;}
#container{width: 1200px; margin: 0 auto;}
#container h1{color: #fff;}
#header{width: 100%; height: 100px;
    background: #00f; padding: 10px;}
#left-aside{width: 200px; height: 600px;
    background: #f0f; float: left;}
#section{width: 800px; height: 600px;
    background: #0f0; float: left;}
#right-aside{width: 200px; height: 600px;
    background: #f0f; float: right;}
#footer{width: 100%; height: 100px;
    background: #999; float: left; clear: both;}