/* 모바일 기준 */
h1, h2, ul, li, p, div{margin: 0; padding: 0;
    box-sizing: border-box;}
li{list-style: none;}
.clear::after{content: ""; display: block; clear: both;}
a{line-height: 1.5; color: #333;}
body{background: #f1f1f1; font-size: 13px;}
header{background: coral;}
h1{font-size: 25px; padding: 10px; color: #fff;}
#container{min-height: calc(100vh - 120px);}
.lnb li{
    margin: 10px; padding: 10px; background:  lightgreen;
}
.content{padding: 20px;}
h2{font-size: 20px;}
.ext{margin: 10px; padding: 20px; background: lightgreen;}
footer{padding: 10px; background: #aaa;}

/* 태블릿 기준 */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .lnb{float: left; width: 25%;}
    .content{float: left; width: 75%;}
    .aside{clear: both;}
}

/* PC 기준 */
@media all and (min-width: 1025px) {
    .wrap{width: 1280px; margin: 0 auto;}
    .lnb{float: left; width: 20%;}
    .content{float: left; width: 50%;}
    .aside{float: left; width: 30%;}
}
/* footer{clear: both;} */