div{
    width: 600px;
    height: 600px;
    border:  1px solid #ccc;
    margin-bottom: 20px;
}
.pic1{
    background: url(../images/bg5.jpg);
    background-size: auto;
}
.pic2{
    background: url(../images/bg5.jpg) no-repeat;
    background-size: 400px;
    /* 배경이미지의 고정 크기 */
}
.pic3{
    background: url(../images/bg5.jpg) no-repeat;
    background-size: 60%; /* 박스 크기(width)의 60% */
    background-position: top 100px right 50px;
}
.pic4{
    background: url(../images/bg5.jpg) no-repeat;
    background-size: contain;
    /* 이미지가 전체 비율로 축소됨 */
}
.pic5{
    background: url(../images/bg5.jpg) no-repeat;
    background-size: cover;
    /* 이미지가 요소를 꽉 채우고 나머지는 잘림 */
}