/* main-menu */
*{margin: 0; padding: 0%;}
#container{width: 1000px; margin: 0 auto;}
nav{height: 60px; background: rgb(1, 1, 168);}
#main-menu, #sub-menu{list-style: none; text-align: center;}
#main-menu > li{display: inline-block; background: rgb(1, 1, 168);
    margin: 10px;}
#main-menu > li > a{
    display: block; padding: 10px 30px; text-decoration: none;
    background: rgb(1, 1, 168); color: #fff; font-size: 0.9em;
}

/* sub-menu 스타일 */
#sub-menu{position: absolute; top: 60px;
    background: #012881; visibility: hidden;}
#sub-menu > li{padding: 15px 30px;}
#sub-menu > li > a{text-decoration: none; color: rgba(255, 255, 255, 0.6);}
#main-menu > li:hover #sub-menu{visibility: visible;}