/* *{margin: 0; padding: 0;} */
#contents{
    width: 650px;
    height: 450px;
    margin: 50px auto;
    background: url(../images/bg.jpg) no-repeat;
    background-position: cover;
    position: relative;
}
#contents h1{
    margin: 0;
    font-size: 100px;
    color: #fff;
    text-shadow: 3px 3px #000;
    position: absolute; 
    right: 50px;
    bottom: 100px;
}