/* 모바일 기준 */
*{margin: 0; padding: 0;}
#container{width: 100%; margin: 0 auto;
    background: #f00;}
#container h1{font-size: 2em;}
    header{height: 100px; border: 1px solid #fff;}
section{height: 600px; border: 1px solid #fff;}
footer{height: 120px; border: 1px solid #fff;}

/* 태블릿 영역 지정 780 <= x <= 1023 */
@media screen and (min-width: 780px) and (max-width: 1023px){
    #container{width: 100%; margin: 0 auto;
        background: #0f0;}
}

/* PC 영역 지정 */
@media screen and (min-width: 1024px) {
    #container{width: 1000px; margin: 0 auto;
        background: #00f;}
}